body {
    background-color: #f6f9ff;
    font-family: Verdana, Geneva, sans-serif;
}

a:visited {
    color: #004080;
}

.toptokens {
    width: 30%;
}

.fiftypctwidth {
    width: 50%;
}

.sixtypctwidth {
    width: 60%;
}

.horizontal-center {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eightypctwidth{
    width: 80%;
}

.code-snippet.language-py{
    font-size: .8rem;
}
