{{> header}}
<a href="/">Home</a>
<header>
    <h1>Performing Alternating Least Sqares (ALS) Matrix Factorization on Goodreads Dataset</h1>
    <p>Created: <strong>June 30, 2020</strong></p>
    <p>Last Modified: <strong>June 30, 2020</strong></p>
</header>
<div>Uses pyspark's ALS engine to perform matrix factorization and latent factor calculations for users
    and books in order to provide reading recommendations. Also includes visualization of latent factors
    using TSNE dimensionality reduction.
</div>

content here

{{> footer}}